* {
    box-sizing: border-box;
}
.container {
  display: flex;
}

.container section {
  background-color: red;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.question_container {
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}
