* {
    box-sizing: border-box;
}
header {
  text-align: center;
}

.home-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.home-flex-container button {
  background-color: red;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
}

.question_container {
  flex-direction: column;
}

.question_container form {
  display: flex;
  flex-direction: column;
}
